Source: meteo
Maintainer: H. Wouters <hendrikwout@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-meteo
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Meteorological library.
 ===========
 meteo
 ===========
 .
 .
 Meteo is a library in development to work with meteorological data. It
 currently has procedures for moisture variable conversions between relative
 humidity, mixing ratio and specific humidity Please let me know if you want
 to contribute (hendrikwout @ gmail.com)::
 .
     #!/usr/bin/env python
 .
     from meteo import *
 .
     # calculate saturation pressure
     print(esat(282.15))
 .
 .
 .
 .
